<div class="container p-3 my-3">
  <div class="card">
    <div class="card-header">
      <h3>Authentification</h3>
    </div>
    <div class="card-body">
      <form action="#">
        <div class="form-group mb-3">
          <label for="email" class="mb-2">Name:</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="loginModel.email" placeholder="Enter name">
        </div>
        <div class="form-group mb-3">
          <label for="pwd" class="mb-2">Password:</label>
          <input type="password" class="form-control" id="pwd" name="password"  [(ngModel)]="loginModel.password" placeholder="Enter password">
        </div>
        <a href="#" (click)="login()" class="btn btn-primary btnStyle">Login</a>
        <a href="#" [routerLink]="['/register']" class="btn btn-danger btnStyle">Register</a>
      </form>
    </div>
  </div>
</div>
